<h1>New Observation</h1>

<div class="form">
  <%= form_for [@experiment, @observation], url: "/experiment_proposals/#{@experiment_proposal.id}/experiments/#{@experiment.id}/observations" do |f| %>
    <div>
      <%= f.label :body %>
      <%= f.text_area :body, size: "60x12"  %>
    </div>
    <div>
      <%= f.submit "Create an Observation" %>
    </div>
  <%end%>
</div>
