<h1>Experiment Proposals</h1>

<p><%= link_to 'Add a Proposal', new_experiment_proposal_path %></p>

<div>
  <ul>
    <% @experiment_proposals.each do |ep| %>
      <p><%= link_to ep.title, ep %></p>
    <% end %>
  </ul>
</div>
